@model CVManagerapp.ViewModels.CVDetailsVM
@{
    ViewData["Title"] = "CV Details";
}

<div class="d-flex justify-content-between align-items-center">
    <div class="row">
        <h1>@Model.CV.FirstName @Model.CV.LastName </h1>
        <h5 style="margin-bottom: 0;">@Model.CV.Title</h5>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-studentId="@Model.CV.UserId">Edit Personal Info</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-studentId="@Model.CV.UserId">Delete CV</a>
    </div>
    
</div>
<hr />

<div>
    <h4>Personal Information</h4>
    
    <dl class="row">
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.CV.FirstName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.CV.LastName</dd>

        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.CV.Title</dd>

        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.CV.DateOfBirth.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.CV.Address</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.CV.Email</dd>

        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@Model.CV.Phone</dd>

    </dl>
</div>

<div style="margin-bottom: 20px;">
    <div class="d-flex justify-content-between align-items-center">
        <h4 style="margin-bottom: 0;">Education</h4>
        <button class="btn btn-primary addRow" id="addEducationBtn" data-table-id="educationTable" data-row-template-id="educationRowTemplate">Add Education</button>
    </div>
    @* <form id="educationForm"> *@
    <input value="@Model.CV.Id" type="hidden" id="CVId" name="CVId" />
    <table id="educationTable" class="table">
        <thead>
            <tr>
                <th>Institution</th>
                <th>Degree</th>
                <th>Field of Study</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var education in Model.Educations)
            {
                <tr>
                    <td>@education.Institution</td>
                    <td>@education.Degree</td>
                    <td>@education.FieldOfStudy</td>
                    <td>@education.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@education.EndDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <i class="bi bi-pencil-square addEditRow"
                           style="cursor: pointer;"
                           data-table-id="educationTable"
                           data-row-edit-template-id="educationRowEditTemplate"
                           data-id="@education.Id"
                           data-institution="@education.Institution"
                           data-degree="@education.Degree"
                           data-field-of-study="@education.FieldOfStudy"
                           data-start-date="@education.StartDate.ToString("yyyy-MM-dd")"
                           data-end-date="@education.EndDate.ToString("yyyy-MM-dd")"></i>
                    </td>
                </tr>
            }
            @if (!Model.Educations.Any())
            {
                <tr id="noEntriesRow">
                    <td colspan="5">No Education entries  found.</td>
                </tr>
            }

        </tbody>
    </table>

    <template id="educationRowTemplate" style="display: none;">
        <tr>
            <td><input type="text" name="Institution" required></td>
            <td><input type="text" name="Degree" required></td>
            <td><input type="text" name="FieldOfStudy" required></td>
            <td><input type="date" name="StartDate" required></td>
            <td><input type="date" name="EndDate" required></td>
            <td>
                <i class="bi bi-floppy saveRow" data-save-function="saveEducation" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>

    <template id="educationRowEditTemplate" style="display: none;">
        <tr>
            <td><input type="hidden" name="Id"><input type="text" name="Institution" required></td>
            <td><input type="text" name="Degree" required></td>
            <td><input type="text" name="FieldOfStudy" required></td>
            <td><input type="date" name="StartDate" required></td>
            <td><input type="date" name="EndDate" required></td>
            <td>
                <i class="bi bi-floppy saveEditRow" data-edit-function="editEducation" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelEditRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
    @* </form> *@
</div>
<div style="margin-bottom: 20px;">
    <div class="d-flex justify-content-between align-items-center">
        <h4 style="margin-bottom: 0;">Work Experience</h4>
        <button class="btn btn-primary addRow" id="addWorkExperienceBtn" data-table-id="workExperienceTable" data-row-template-id="workExperienceRowTemplate">Add Work Experience</button>
    </div>
    <input value="@Model.CV.Id" type="hidden" id="CVId" name="CVId" />
    <table id="workExperienceTable" class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Position</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var workexperience in Model.workexperiences)
            {
                <tr>
                    <td>@workexperience.Company</td>
                    <td>@workexperience.Position</td>
                    <td>@workexperience.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@workexperience.EndDate.ToString("dd/MM/yyyy")</td>
                    <td>@workexperience.Description</td>
                    <td><i class="bi bi-pencil-square addEditRow"
                           style="cursor: pointer;"
                           data-table-id="workExperienceTable"
                           data-row-edit-template-id="workExperienceRowEditTemplate"
                           data-id="@workexperience.Id"
                           data-company="@workexperience.Company"
                           data-position="@workexperience.Position"                           
                           data-start-date="@workexperience.StartDate.ToString("yyyy-MM-dd")"
                           data-end-date="@workexperience.EndDate.ToString("yyyy-MM-dd")"
                           data-description="@workexperience.Description"></i>
                    </td>
                </tr>
            }
            @if (!Model.workexperiences.Any())
            {
                <tr id="noEntriesRow">
                    <td colspan="5">No Work experience found.</td>
                </tr>
            }
        </tbody>
    </table>
    <template id="workExperienceRowTemplate" style="display: none;">
        <tr>
            <td><input type="text" name="Company"></td>
            <td><input type="text" name="Position"></td>
            <td><input type="date" name="StartDate"></td>
            <td><input type="date" name="EndDate"></td>
            <td><input type="text" name="Description"></td>
            <td>
                <i class="bi bi-floppy saveRow" data-save-function="saveWorkExperience" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>

            </td>
        </tr>
    </template>

    <template id="workExperienceRowEditTemplate" style="display: none;">
        <tr>
            <td><input type="hidden" name="Id"><input type="text" name="Company" required></td>
            <td><input type="text" name="Position" required></td>            
            <td><input type="date" name="StartDate" required></td>
            <td><input type="date" name="EndDate" required></td>
            <td><input type="text" name="Description" required></td>
            <td>
                <i class="bi bi-floppy saveEditRow" data-edit-function="editWorkExperience" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelEditRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
</div>

<div style="margin-bottom: 20px;">
    <div class="d-flex justify-content-between align-items-center">
        <h4 style="margin-bottom: 0;">Skills</h4>
        <button class="btn btn-primary addRow" id="addSkillBtn" data-table-id="skillTable" data-row-template-id="skillRowTemplate">Add Skill</button>
    </div>
    <input value="@Model.CV.Id" type="hidden" id="CVId" name="CVId" />
    <table id="skillTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var skill in Model.skills)
            {
                <tr>
                    <td>@skill.Name</td>
                    <td>
                        <i class="bi bi-pencil-square addEditRow"
                           style="cursor: pointer;"
                           data-table-id="skillTable"
                           data-row-edit-template-id="skillRowEditTemplate"
                           data-id="@skill.Id"
                           data-name="@skill.Name"></i>
                    </td>
                </tr>
            }
            @if (!Model.skills.Any())
            {
                <tr id="noEntriesRow">
                    <td colspan="2">No skills found.</td>
                </tr>
            }
        </tbody>
    </table>
    <template id="skillRowTemplate" style="display: none;">
        <tr>
            <td><input type="text" name="Name"></td>
            <td>
                <i class="bi bi-floppy saveRow" data-save-function="saveSkill" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
    <template id="skillRowEditTemplate" style="display: none;">
        <tr>
            <td><input type="hidden" name="Id"><input type="text" name="Name" required></td>
            <td>
                <i class="bi bi-floppy saveEditRow" data-edit-function="editSkill" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelEditRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
</div>

<div style="margin-bottom: 20px;">
    <div class="d-flex justify-content-between align-items-center">
        <h4 style="margin-bottom: 0;">Projects</h4>
        <button class="btn btn-primary addRow" id="addProjectBtn" data-table-id="projectTable" data-row-template-id="projectRowTemplate">Add Project</button>
    </div>
    <input value="@Model.CV.Id" type="hidden" id="CVId" name="CVId" />
    <table id="projectTable" class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.projects)
            {
                <tr>
                    <td>@project.Title</td>
                    <td>@project.Description</td>
                    <td>@project.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@project.EndDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <i class="bi bi-pencil-square addEditRow"
                           style="cursor: pointer;"
                           data-table-id="projectTable"
                           data-row-edit-template-id="projectRowEditTemplate"
                           data-id="@project.Id"
                           data-title="@project.Title"
                           data-description="@project.Description"
                           data-start-date="@project.StartDate.ToString("yyyy-MM-dd")"
                           data-end-date="@project.EndDate.ToString("yyyy-MM-dd")"></i>
                    </td>
                </tr>
            }
            @if (!Model.projects.Any())
            {
                <tr id="noEntriesRow">
                    <td colspan="5">No projects found.</td>
                </tr>
            }
        </tbody>
    </table>
    <template id="projectRowTemplate" style="display: none;">
        <tr>
            <td><input type="text" name="Title"></td>
            <td><input type="text" name="Description"></td>
            <td><input type="date" name="StartDate"></td>
            <td><input type="date" name="EndDate"></td>
            <td>
                <i class="bi bi-floppy saveRow" data-save-function="saveProject" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
    <template id="projectRowEditTemplate" style="display: none;">
        <tr>
            <td><input type="hidden" name="Id"><input type="text" name="Title" required></td>
            <td><input type="text" name="Description" required></td>
            <td><input type="date" name="StartDate" required></td>
            <td><input type="date" name="EndDate" required></td>
            <td>
                <i class="bi bi-floppy saveEditRow" data-edit-function="editProject" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelEditRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
</div>
<div style="margin-bottom: 20px;">
    <div class="d-flex justify-content-between align-items-center">
        <h4 style="margin-bottom: 0;">Certifications</h4>
        <button class="btn btn-primary addRow" id="addCertificationBtn" data-table-id="certificationTable" data-row-template-id="certificationRowTemplate">Add Certification</button>
    </div>
    <input value="@Model.CV.Id" type="hidden" id="CVId" name="CVId" />
    <table id="certificationTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Issue Date</th>
                <th>Issuing Organization</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var certification in Model.certifications)
            {
                <tr>
                    <td>@certification.Name</td>
                    <td>@certification.IssueDate.ToString("dd/MM/yyyy")</td>
                    <td>@certification.IssuingOrganization</td>
                    <td>
                        <i class="bi bi-pencil-square addEditRow"
                           style="cursor: pointer;"
                           data-table-id="certificationTable"
                           data-row-edit-template-id="certificationRowEditTemplate"
                           data-id="@certification.Id"
                           data-name="@certification.Name"
                           data-issue-date="@certification.IssueDate.ToString("yyyy-MM-dd")"
                           data-issuing-organization="@certification.IssuingOrganization"></i>
                    </td>
                </tr>
            }
            @if (!Model.certifications.Any())
            {
                <tr id="noEntriesRow">
                    <td colspan="4">No certifications found.</td>
                </tr>
            }
        </tbody>
    </table>
    <template id="certificationRowTemplate" style="display: none;">
        <tr>
            <td><input type="text" name="Name"></td>
            <td><input type="date" name="IssueDate"></td>
            <td><input type="text" name="IssuingOrganization"></td>
            <td>
                <i class="bi bi-floppy saveRow" data-save-function="saveCertification" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
    <template id="certificationRowEditTemplate" style="display: none;">
        <tr>
            <td><input type="hidden" name="Id"><input type="text" name="Name" required></td>
            <td><input type="date" name="IssueDate" required></td>
            <td><input type="text" name="IssuingOrganization" required></td>
            <td>
                <i class="bi bi-floppy saveEditRow" data-edit-function="editCertification" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelEditRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
</div>
<div style="margin-bottom: 20px;">
    <div class="d-flex justify-content-between align-items-center">
        <h4 style="margin-bottom: 0;">Languages</h4>
        <button class="btn btn-primary addRow" id="addLanguageBtn" data-table-id="languageTable" data-row-template-id="languageRowTemplate">Add Language</button>
    </div>
    <input value="@Model.CV.Id" type="hidden" id="CVId" name="CVId" />
    <table id="languageTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Proficiency Level</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var language in Model.languages)
            {
                <tr>
                    <td>@language.Name</td>
                    <td>@language.ProficiencyLevel</td>
                    <td>
                        <i class="bi bi-pencil-square addEditRow"
                           style="cursor: pointer;"
                           data-table-id="languageTable"
                           data-row-edit-template-id="languageRowEditTemplate"
                           data-id="@language.Id"
                           data-name="@language.Name"
                           data-proficiency-level="@language.ProficiencyLevel"></i>
                    </td>
                </tr>
            }
            @if (!Model.languages.Any())
            {
                <tr id="noEntriesRow">
                    <td colspan="3">No languages found.</td>
                </tr>
            }
        </tbody>
    </table>
    <template id="languageRowTemplate" style="display: none;">
        <tr>
            <td><input type="text" name="Name"></td>
            <td><input type="text" name="ProficiencyLevel"></td>
            <td>
                <i class="bi bi-floppy saveRow" data-save-function="saveLanguage" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
    <template id="languageRowEditTemplate" style="display: none;">
        <tr>
            <td><input type="hidden" name="Id"><input type="text" name="Name" required></td>
            <td><input type="text" name="ProficiencyLevel" required></td>
            <td>
                <i class="bi bi-floppy saveEditRow" data-edit-function="editLanguage" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelEditRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
</div>
<div style="margin-bottom: 20px;">
    <div class="d-flex justify-content-between align-items-center">
        <h4 style="margin-bottom: 0;">Interests</h4>
        <button class="btn btn-primary addRow" id="addInterestBtn" data-table-id="interestTable" data-row-template-id="interestRowTemplate">Add Interest</button>
    </div>
    <input value="@Model.CV.Id" type="hidden" id="CVId" name="CVId" />
    <table id="interestTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var interest in Model.interests)
            {
                <tr>
                    <td>@interest.Name</td>
                    <td>
                        <i class="bi bi-pencil-square addEditRow"
                           style="cursor: pointer;"
                           data-table-id="interestTable"
                           data-row-edit-template-id="interestRowEditTemplate"
                           data-id="@interest.Id"
                           data-name="@interest.Name"></i>
                    </td>
                </tr>
            }
            @if (!Model.interests.Any())
            {
                <tr id="noEntriesRow">
                    <td colspan="2">No interest entries found.</td>
                </tr>
            }
        </tbody>
    </table>
    <template id="interestRowTemplate" style="display: none;">
        <tr>
            <td><input type="text" name="Name"></td>
            <td>
                <i class="bi bi-floppy saveRow" data-save-function="saveInterest" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
    <template id="interestRowEditTemplate" style="display: none;">
        <tr>
            <td><input type="hidden" name="Id"><input type="text" name="Name" required></td>
            <td>
                <i class="bi bi-floppy saveEditRow" data-edit-function="editInterest" style="cursor: pointer; margin-right: 10px;"></i>
                <i class="bi bi-x-circle-fill cancelEditRow" style="cursor: pointer;"></i>
                <div class="validationErrors"></div>
            </td>
        </tr>
    </template>
</div>




@section Scripts {
    <script src="~/js/details.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
