@using CVManagerapp.ViewModels
@using X.PagedList.Mvc.Core
@using X.PagedList
@model CVListVM

@{
    ViewData["Title"] = "ListCVs";
}

<h1>All CVs</h1>

<form method="GET" asp-controller="CV" asp-action="ListCVs" class="d-flex flex-row" id="filterForm">
    <div class="form-group d-flex flex-row gap-2">
        <input type="text" name="searchString" id="searchString" value="@Model.SearchString" placeholder="Search CVs" class="form-control" />
    </div>   
    <button class="btn btn-outline-primary ms-2">Search</button>
    <button type="button" class="btn btn-outline-secondary ms-2" onclick="resetForm()">Reset</button>
</form>
<table class="table">
    <thead>
        <tr>
            
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Title
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cvs) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-studentId="@item.UserId">View CV</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model.Cvs, page => Url.Action("ListCVs", new { page = page/* , searchString = Model.SearchString  */}),
                new PagedListRenderOptions
            {
                DisplayItemSliceAndTotal = true,
                ContainerDivClasses = new[] { "navigation" },
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" },
            })

@section Scripts {
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });

        function resetForm() {
            document.getElementById('searchString').value = "";
            document.getElementById('filterForm').submit();
        }
    </script>
    
}
