@using CVManagerapp.ViewModels
@model CVListVM

@{
    ViewData["Title"] = "ListCVs";
}

<h1>All CVs</h1>

<table class="table">
    <thead>
        <tr>
            
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Title
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cvs) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-studentId="@item.UserId">View CV</a>
            </td>
        </tr>
}
    </tbody>
</table>
